.loginForm {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: center;

    .logo {
        width: 140px;
        margin-bottom: 16px;
    }

    .MuiTypography-root {
        font-size: 14px;
        margin-bottom: 8px;
        color: #555;
    }

    .MuiTextField-root {
        .MuiOutlinedInput-root {

        }
    }

    .MuiButton-root {
        text-transform: none;
        font-weight: bold;
        font-size: 16px;
        background: linear-gradient(90deg, #00c6ff, #0072ff);
        color: #fff;

        &:hover {
            background: linear-gradient(90deg, #0072ff, #00c6ff);
        }
    }

    .MuiCheckbox-root {
        color: #a91b0d;
    }

    .MuiFormControlLabel-root {
        .MuiTypography-root {
            color: #666;
        }
    }

    .MuiTypography-body2 {
        a {
            color: #a91b0d;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .rememberMeCheckbox {
        color: #a91b0d !important; // Màu cam mặc định
        &.Mui-checked {
            color: #a91b0d !important; // Màu cam khi được chọn
        }
    }

    .loginButton {
        background: #a91b0d;
    }
}